.sidebar{
    position: fixed;
    bottom: 0;
    left:0;
    top:55px;
    background-color: white;
    width:72px;
    z-index:200px;
    padding-top: 8px;
    cursor: pointer;

}
.sidebar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sidebar-link:hover{
    background-color: rgb(177, 170, 170);
}
.sidebar-link img{
    height:24px;
    margin-top:15px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
}
